<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:59:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:59:08</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:59:10</td>   <td>2292</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:59:08</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:58:05</td>   <td>-63002</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:58:05</td>   <td>-62989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:58:05</td>   <td>-63041</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="80ba84">  <td>18/03/27 10:58:05</td>   <td>-63016</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603443293</td>   <td></td> </tr>
<tr bgcolor="81e873">  <td>18/03/27 10:58:05</td>   <td>-62987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipkartTest.testProductAddedToCart()[pri:0, instance:com.week_4.tests.FlipkartTest@2df32bf7]">testProductAddedToCart</td> 
  <td>main@603443293</td>   <td></td> </tr>
</table>
