<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Product List Size is 3</div><div  class="info"><span class="info-label">I </span>Name of product at index 0 is Apple iPad 32 GB 9.7 inch with Wi-Fi Only</div><div  class="info"><span class="info-label">I </span>Prize of product at index 0 is Rs.24900</div><div  class="info"><span class="info-label">I </span>Name of product at index 1 is Apple iPad 32 GB 9.7 inch with Wi-Fi Only</div><div  class="info"><span class="info-label">I </span>Prize of product at index 1 is Rs.24900</div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Apple iPad 32 GB 9.7 inch with Wi-Fi Only"
     Actual: was "Apple iPad 32 GB 9.7 inch with Wi-Fi Only (Space Grey)" <a href="../img/testProductAddedToCart_1t4w0hv7o69sr45305.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "24,900"
     Actual: was "24,900" <a href="../img/testProductAddedToCart_5h1vwt8aismh45306.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Product is present on Cart Page visible : Actual Product is present on Cart Page visible <a href="../img/testProductAddedToCart_17844qhmjx8mb45307.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Product prize is present for the added product  visible : Actual Product prize is present for the added product  visible <a href="../img/testProductAddedToCart_35i091o3p95p45308.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>